<div id="toolbar">
    <table class="form">
        <tr>
            <td>
                <a class="easyui-linkbutton" plain="true" onclick="onOpen()"><i class="fa fa-plus"></i> 添加</a>
            </td>
        </tr>
    </table>
</div>

<table id="grid">
    <thead>
        <tr>
            <th data-options="field:'employee_id',width:120">员工工号</th>
            <th data-options="field:'employee_name',width:120">员工名称</th>
            <th data-options="field:'position_name',width:120">职位名称</th>
            <th data-options="field:'display',width:50,align:'center', formatter: function(value){
            return value == '1' ? '<font color=red>是</font>' : '否';
        }">显示</th>

        </tr>
    </thead>
</table>

<script type="text/javascript">
    var grid = $('#grid');
    var rowId = 0;
    $(function(){
        easyui.datagrid({
            element:grid,
            onDblClickRow: function(node){
                onOpen(node);
            }
        });
    });

    function onOpen(node) {
        if(empty(node)) {
            var row = grid.treegrid('getSelected');
            if(row){
                node = {pid: row.id};
            }

        }
        var opts = {
            href: '{:U("form")}',
            width: 600,
            data: node,
            handler: function(result){
                grid.treegrid('reload');
            }
        };
        shadow.open(opts);
    }
</script>