<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$Think.config.SITE_TITLE}</title>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/public.js"></script>
    <script src="__PUBLIC__/js/json2.js"></script>
    <script src="__PUBLIC__/js/easyui.js"></script>
	<!--[if lt IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/style/ie.css">
    <![endif]-->
</head>
<body>