<style>
.green{ color:green;}
.red{ color:red;}
</style>
<form id="form" data-url="{:U('power')}" method="post" class="form">
	<input type="hidden" name="dosubmit" value="1" />
    <input type="hidden" name="user_id" value="{$user_id}" />
    <fieldset class="fixed" id="fixed_content" style="height:100%; overflow:auto;">
    <table width="100%">
        <foreach name="power_list" key="key" item="value">
        <tr>
            <th>{$value.name}：</th>
            <td>
                <input name="power[{$key}]<eq name="value[type]" value="1">[]</eq>" id="{$key}" class="easyui-combotree" value="" style="width:390px;" />
                <notempty name="value[remark]">
                    <a class="show_question easyui-linkbutton" iconCls="fa fa-question" plain="false" data-msg="{$value.remark}"></a>
                </notempty>
            </td>
        </tr>
        </foreach>
        <tr>
            <th>&nbsp;</th>
            <td>&nbsp;</td>
        </tr>
    </table>
    </fieldset>
</form>
<script>
    var json_data = [];
</script>
<foreach name="power_list" key="key" item="value">
    <eq name="value[type]" value="0">
        <script type="text/javascript">
            json_data['{$key}'] = eval('({$value|json_encode})');
            $('#{$key}').combobox({
                data:json_data['{$key}'].value,
                valueField:'id',
                textField:'text'
            });
        </script>
    <else />
        <eq name="value[is_tree]" value="1">
            <script type="text/javascript">
                json_data['{$key}'] = eval('({$value|json_encode})');
                $('#{$key}').combotree({
                    data:json_data['{$key}'].value,
                    multiple: true,
                    valueField:'id',
                    textField:'text'
                });
            </script>
        <else />
            <script type="text/javascript">
                json_data['{$key}'] = eval('({$value|json_encode})');
                $('#{$key}').combobox({
                    data:json_data['{$key}'].value,
                    multiple:true,
                    valueField:'id',
                    textField:'text'
                });
            </script>
        </eq>
    </eq>
</foreach>
<script type="text/javascript">
    $('.show_question').tooltip({
        position: 'right',
        trackMouse: true,
        content: ' ',
        onShow: function(){
            var msg = $(this).attr('data-msg');
            if(msg != '' && msg != null){
                $(this).tooltip('tip').html(msg).css({
                    borderColor: '#666'
                });
            }else{
                $(this).tooltip('tip').hide();
            }
        }
    });
    function closeWin(){
        var p = window.parent ? window.parent : parent;
        p.shadow.destroy();
    }
    function setData(data) {
        var power = '{$power|json_encode}';
        var power_json = null;
        if(power != 'null'){
            power_json = eval('('+power+')');
        }
        if(power_json != null){
            for(var key in power_json){
                if(power_json[key].length > 0){
                    if(json_data[key].type == 0){  // 单选
                        $('#'+key).combobox('setValue', power_json[key].join(','));
                    }else{  //多选
                        if(json_data[key].is_tree == 1){  //树形
                            $('#'+key).combotree('setValues', power_json[key]);
                        }else{
                            $('#'+key).combobox('setValues', power_json[key]);
                        }
                    }
                }
            }
        }
    }
</script>